/* === HERO === */
.hero-content {
  max-width: 700px;
  text-align: left;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00497c;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #384050;
}

/* === ESPACEMENT DES SECTIONS === */
.hero,
.etapes,
.artisans {
  margin-top: 40px;
}

/* === ÉTAPES === */
.etape {
  background: #f1f8fc;
  border-color: #0074c7;
  transition: 0.2s ease;
}

.etape:hover {
  background: #ffffff;
}

/* === TITRES === */
h1 {
  font-weight: bold;
}

/* === ARTISANS DU MOIS === */
/* Carte artisan */
.card {
  border: none;
  transition: 0.3s ease;
}

/* Effet hover */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Titre carte */
.card-title {
  color: #00497c;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

/* Note artisan */
.note-artisan {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Étoile */
.etoile {
  color: #f1c40f;
}

/* === RESPONSIVE === */
@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  input {
    width: 100% !important;
  }

}