<!-- SECTION ARTISANS -->
<section class="container mt-5">

  <h1 class="mb-4 text-center">Tous nos artisans</h1>

  <!--Barre de recherche-->
  <div class="text-center mb-4">
    <input 
      type="text" 
      class="form-control w-50 mx-auto"
      placeholder="Rechercher un artisan..."
      [(ngModel)]="termeRecherche"
      (input)="rechercher()"
    >
  </div>
  

  <!-- Message affiché pendant le chargement -->
  <p class="text-center" *ngIf="!artisans || artisans.length === 0">
    Chargement des artisans...
  </p>

  <!-- Nombre d'artisans -->
  <p class="text-center" *ngIf="artisans && artisans.length > 0">
    Nombre d'artisans : {{ artisans.length }}
  </p>

  <div class="row">

    <!-- Boucle : une carte par artisan -->
    <div class="col-md-4 mb-4" *ngFor="let artisan of artisansFiltres">

      <!-- Carte artisan cliquable -->
      <div class="card h-100 shadow-sm" (click)="goToDetail(artisan.id)">

        <div class="card-body">

          <h2 class="card-title">{{ artisan.name }}</h2>

          <p class="note-artisan">
            {{ artisan.note }}
            <span class="etoile">★</span>
          </p>

          <p>
            <strong>Spécialité :</strong>
            {{ artisan.specialty }}
          </p>

          <p>
            <strong>Ville :</strong>
            {{ artisan.location }}
          </p>

          <p>
            <strong>Catégorie :</strong>
            {{ artisan.category }}
          </p>

        </div>
      </div>

    </div>

  </div>

</section>
