:root {
    --bleu-clair: #f1f8fc;
    --bleu: #0074c7;
    --bleu-fonce: #00497c;
    --gris: #384050;
    --rouge: #cd2c2e;
    --vert: #82b864;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bleu-clair);
  }
